<div class="wrap-button">
    <button mat-flat-button routerLink="/todo/add">
        <mat-icon>add</mat-icon>
        Add todo
    </button>
</div>
<div class="wrap-buttons">
    <div>
        <button mat-icon-button (click)="changeView('grid')" [ngClass]="{'active': defaultView === 'grid'}">
            <mat-icon>grid_view</mat-icon>
        </button>
        <button mat-icon-button (click)="changeView('list')" [ngClass]="{'active': defaultView === 'list'}">
            <mat-icon>view_list</mat-icon>
        </button>
    </div>
    <button type="button" mat-flat-button [matMenuTriggerFor]="sortMenu">Sort</button>
    <mat-menu #sortMenu>
        <menu mat-menu-item *ngFor="let param of paramsSort" (click)="changeSort(param.property, param.direction)">{{param.name}}</menu>
    </mat-menu>
</div>
<div class="{{defaultView}}-todo">
    <ng-container *ngIf="todos.length > 0; else noDate">
        <mat-card class="example-card todo-{{todo.priority}}" *ngFor="let todo of todos | sort : paramSortDefault; let i = index; trackBy: identify" [ngClass]="{'done': todo.status, 'low': todo.priority === 1, 'middle': todo.priority === 2, 'high': todo.priority === 3}">
            <mat-card-header>
                <mat-card-title><a [routerLink]="['/todo', todo.id]">{{todo.name}}</a></mat-card-title>
                <mat-card-subtitle>{{todo.dateComplete | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{todo.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/todo/edit', todo.id]">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteList(todo.id, i)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-template #noDate>
        <h3>
            Not todo. You can create first one
        </h3>
    </ng-template>
</div>
