<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div>
        <input type="text" formControlName="loginName">
    </div>
    <div>
        <input type="password" formControlName="passwordForm">
        <div *ngIf="f.passwordForm.errors && f.passwordForm.errors.required">
            this field is required
        </div>
        <div *ngIf="f.passwordForm.errors && f.passwordForm.errors.minlength">
            minlength password is {{f.passwordForm.errors.minlength.requiredLength}}
        </div>
    </div>
    <div>
        <input type="password" formControlName="confirmPassword">
        {{f.confirmPassword.errors | json}}
        <!-- <div *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.required">
            this field is required
        </div>
        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.minlength">
            minlength password is {{f.confirmPassword.errors.minlength.requiredLength}}
        </div> -->
        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.confirm">
            password not match
        </div>
    </div>
    <input type="submit" value="Send" [disabled]="!loginForm.valid">
</form>
