<h2>Product list</h2>
<div class="form-row form-group">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name Product">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Price">
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value="Add">
     </div>
</div>
<div class="form-row form-group">
  <div class="col-4">
    <input type="text" class="form-control" placeholder="Search">
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Product 1</td>
      <td>$100</td>
      <td><button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Product 2</td>
      <td>$50</td>
      <td><button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Product 3</td>
      <td>$50</td>
      <td><button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button></td>
    </tr>
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>$200</td>
    <td></td>
  </tfoot>
</table>