<h2>Product list</h2>
<div class="form-row form-group">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name Product">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Price">
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value="Add">
     </div>
</div>
<div class="form-row form-group">
    <form>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="text" name="search">
        </div>
    </form>
</div>
{{orderDirection}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col" (click)="orderPrice()">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | search : text | order : orderDirection; let i = index">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price | currency}}</td>
      <td><button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button></td>
    </tr>
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>$200</td>
    <td></td>
  </tfoot>
</table>