@import '../../assets/scss/mixins';

.icon-back {
    margin: 10px 0;
}
.priority {
    display: flex;
    align-items: center;
}
.priority-indicator {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 25px;
    @include colorPriority;
}